{% extends "base.twig" %}

{# Main #}
{% block main %}
	<!-- Section contenant les CGU (Chaque condition est dans un article) -->
	<section>
		<h1>{{ traduction.h1 }}:</h1>

		{% for condition in traduction.conditions %}
			<article>
				<h2>{{ condition[0] }}</h2>
				<p>{{ condition[1] }}</p>
			</article>
		{% endfor %}
	</section>
{% endblock %}
