{% extends "base.twig" %}

{# CSS custom de l'accueil #}
{% block cssEtJs %}
	<link rel="stylesheet" href="./css/pages/contact.css">
{% endblock %}

{# Main #}
{% block main %}
	<!-- Formulaire de contact contenu dans cette section -->
	<section>
		<h1>REMPLISSEZ CE FORMULAIRE</h1>
		<form
			method="post" action="./contact.html">
			<!-- Fieldset pour le sexe de l'user -->
			<fieldset>
				<legend>Votre sexe:</legend>
				<!-- Mit dans des divs pour juste mettre en row -->
				<div>
					<input type="radio" name="sexe" id="female">
					<label for="female">Femme</label>
				</div>
				<div>
					<input type="radio" name="sexe" id="male">
					<label for="male">Homme</label>
				</div>
				<div>
					<input type="radio" name="sexe" id="other">
					<label for="other">Autre</label>
				</div>
				<div>
					<input type="radio" name="sexe" id="none">
					<label for="none">Je ne préfère pas répondre</label>
				</div>
			</fieldset>
			<!-- Informations sur la raison du contact & autres -->
			<fieldset>
				<legend>Informations:</legend>
				<!-- Mit dans des divs pour juste mettre en row -->
				<div class="row">
					<label>Raison de votre contact:</label>
					<select name="raison">
						<option value="pb" selected>Un problème avec le site</option>
						<option value="qt">Une question relative au contenu du site</option>
						<option value="rp">Un rapport de bug ou de faille de sécurité sur le site</option>
					</select>
				</div>
				<div class="row">
					<label>Votre nom:</label>
					<input type="text" name="nom" placeholder="Jean Dupont" required>
				</div>
				<div class="row">
					<label>Votre adresse mail:</label>
					<input type="email" name="mail" placeholder="jdupont67@gmail.com" required>
				</div>
			</fieldset>
			<!-- Textarea pour reccueillir les commentaires des users -->
			<fieldset>
				<legend>Commentaire:</legend>
				<textarea name="comment" placeholder="Veuillez entrer vos commentaires ici."></textarea>
			</fieldset>
			<!-- Checkbox pour laisser l'utilisateur le choix d'être anonyme ou non -->
			<fieldset>
				<legend>Infos complémentaires:</legend>
				<input type="checkbox" name="anonymous" checked>
				<label>Rester anonyme (<strong>
						Seulement votre nom sera affecté, non pas votre adresse mail</strong>)</label>
			</fieldset>
			<!-- Juste un bouton submit -->
			<fieldset>
				<legend>Pour valider vos informations saisies :</legend>
				<input type="submit" value="Valider">
			</fieldset>
		</form>
	</section>
{% endblock %}
