<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ httpCode }} | Color bass</title>

        <!-- CSS (Pas besoin de requiert tout, la page de codes d'erreur HTTP sera toujours du même style sans prendre celui des autre pages, i.g index.css) -->
        <link rel="stylesheet" href="../css/pages/erreur.css">

        <!-- Favicon & Manifest -->
        <link rel="icon" type="image/png" sizes="32x32" href="../img/favicons/favicon.png">
        <link rel="shortcut icon" href="../img/favicons/favicon.ico" type="image/x-icon">
        <link rel="manifest" href="../img/favicons/site.webmanifest">
    </head>
    <body>
        <h1>{{ httpCode }}</h1>
    </body>
</html>